.code-block {
    text-align: left;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.code-block>div {
    text-align: left;
    /* height: 100%; */
    min-height: 100%;
    max-height: 25px;
    width: 100%;
}